.discountslider {
  &__content {
    cursor: grab;
    @include responsive(l) {
      border-radius: 0 !important;
    }
    &-item {
      width: 16rem !important;
      height: 28rem !important;
      margin-left: 0.4rem;
    }
  }
  &__btn {
    width: 3.5rem;
    height: 3.5rem;
    background-color: white;
    border-radius: 100%;
    color: $subtitle;
    border: 1px solid $subtitle;
    @include responsive(l) {
      display: none;
    }
    &::after {
      font-size: $fs-5;
    }
  }
}
